<div class="bg-secondary" style="color: aliceblue;">
	<div class="modal-header">
		Cadastro de solicitante concluido!
		<button mat-button class="dismiss" (click)="activeModal.dismiss('Cross click')">X</button>
	</div>
	<div class="modal-body">
		<div class="container mt-0">
			<div class="row">
				<div class="col-md-18">
					<p>Como você é novo aqui, vou te fornecer uma senha aleatoria para acesso a plataforma!</p>
				</div>
			</div>
			<div class="row">
				<div class="col-md-18">
					<h2>Senha: 123123123</h2>
				</div>
			</div>
			<div class="row">
				<div class="col-md-18">
					<span>*Obs: Para sua segurança troque ela quando entrar na sua sessão.</span>
				</div>
			</div>
		</div>
	</div>
	<div class="modal-footer">
		<div class="container mt-0">
			<div class="row justify-content-end">
				<div>
					<button mat-raised-button (click)="activeModal.close()" class="dismiss">OK</button>
				</div>
			</div>
		</div>
	</div>
</div>